## config file for "bgen2mach_region.sh"

WORK_DIR=/well/hill/amanda_working/UKB/phenotypes/GIMAP7 # Working directory for the run
LOG_DIR=/well/hill/amanda_working/UKB/phenotypes/GIMAP7/Log_files # Directory to store qsub log files
PROJECT_PREFIX=UKB_10k # Prefix for the genomic bgen files up to the chromosome number

BGEN_FILE=/well/hill/reference_panels/UKB/imputed/bgen/ukb_imp_chr7_v3_10k.bgen # Path for the genomic bgen files
SAMPLE_FILE=/well/hill/adriank/UKB/data/bgens_v3/UKB_10k_new2.sample # .sample file associated with the bgen files

MACH_DIR=/well/hill/amanda_working/UKB/phenotypes/GIMAP7 # Directory to store generated .mldose and .mlinfo files


CHR=7
GENE_START=150211945
GENE_END=150218161
GENE_NAME=GIMAP7
FLANK=5000