## config file for "bgen2mach_region_list.sh"

LIST_FILE=/well/hill/amanda_working/UKB/for_james/PID_noX.list # Tab delimited file containing the list of regions to extract. Col 1 = region name, Col 2 = chromosome, Col 3 = region start, Col 4 = region end
PROJECT_DIR=/well/hill/amanda_working/UKB/for_james # Working directory for the run
LOG_DIR=/well/hill/amanda_working/UKB/for_james/Log_files # Directory to store qsub log files
PROJECT_PREFIX=UKB_10k # Prefix for the genomic bgen files up to the chromosome number

BGEN_PREFIX=/well/hill/reference_panels/UKB/imputed/bgen/ukb_imp_chr # Path for the genomic bgen files up to chromosome number
BGEN_SUFFIX=_v3_10k.bgen # Suffix for bgen files after chromomosome number
SAMPLE_FILE=/well/hill/adriank/UKB/data/bgens_v3/UKB_10k_new2.sample # .sample file associated with the bgen files

MACH_DIR=/well/hill/amanda_working/UKB/for_james # Directory to store generated .mldose and .mlinfo files

FLANK=0